*, *:before, *:after{
    box-sizing: border-box;
    box-shadow: 20px;
}

html {
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient(wheat, plum, silver, wheat, silver);
}

body{
    font-size: 16px;
    margin: 5px;
}

footer{
    text-align: center;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
    }
p {
    text-align: justify;
}
.container{
display: block;
max-width: 1215px;
margin: 5px;
}

.container a{
    padding: 10px;
    background: 0%;
}

.nawigacja { 
    font-size: 15px;
    padding: 5px;
    border-left: solid 1px silver;
    border-right: solid 1px silver;
}

.zawartosc{
    display: flex;
    max-width: 1205px;
    border: 15px;
}
main{
    max-width: 1205px;
    display: flex;
}

article{
    /* background: linear-gradient(wheat, plum); */
    max-width: 1020px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 15px;
}

aside{
    max-width: 300px;
    padding: 10px;
    padding-right: 2px black;
    background: linear-gradient(wheat, plum);
    border-radius: 15px;
}
aside li, a{
text-decoration: none;
}

.header    {
    font-size: 40px;
text-align: center;
font: bold purple;

}

.smallImg {
    height: 250px;
}